@import '../styles/variables.css';
.footer {
  background-color: var(--textPrimary);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  color: var(--textSecondary);
}

.footer a {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s ease-in-out;
}

.footer a:hover {
  color: var(--colorWhite);
}