@import "../styles/variables.css";
.app-header {
  background-color: var(--textPrimary);
  color: var(--colorWhite);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.app-header-logo {
  margin: 0;
}

.app-header-logo-image {
  display: block;
  width: 100%;
  max-width: 15rem;
}

.app-header-nav {
  margin: 0;
  flex-grow: 1;
  border-top: 1px solid var(--textSecondary);
}

.app-header-nav a {
  color: var(--textSecondary);
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transform: color 0.15s ease-in-out;
}

.app-header-nav a:hover {
  color: var(--colorWhite);
}

/* Navigation */
.app-nav,
.app-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.app-nav-section {
  margin: 0;
  font-size: 1.25rem;
}

.app-nav-section a {
  color: var(--textTerceary);
  transition: color 0.15s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

.app-nav-section a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: 1rem;
  background-color: var(--textTerceary);
  display: block;
  height: 1.5rem;
  width: 1px;
}

.app-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--textPrimary);
}

.app-nav-list-item a {
  color: inherit;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;
  transform: color 0.15s ease-in-out;
}

.app-nav-list-item a:hover {
  color: var(--textLink);
}