@import "../Shared/styles/variables.css";
.disclaimer {
  background-color: var(--textPrimary);
  padding: 2rem; 
}

.box {
  background-color: var(--colorWhite);
  max-width: 75%;
  margin: 0 auto;
  position: relative;
  box-shadow: 8px 6px 0 var(--shadow);
  transform: skew(-11deg, 0);
}

.box-inner {
  background-color: var(--colorWhite);
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.button-primary {
  transform: skew(-22deg, 0);
  background-color: var(--textLink);
  color: var(--colorWhite);
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.15s ease-in-out;
}

.button-primary:hover {
  background-color: var(--textLinkSecondary);
}