@import "../Shared/styles/variables.css";
/* Submenu */
.submenu {
  background-color: var(--textPrimary);
  color: var(--colorWhite);
}

.submenu-item {
  color: inherit;
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* Details */
.comicbook-detail {
  position: relative;
  z-index: 2;
  color: var(--colorWhite);
  background: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,0),
    rgba(0,0,0,0) 2px,
    #ccc 2px,
    #ccc 4px
  );
}
.comicbook-detail:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--textPrimary);
}

.comicbook-detail-title {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.comicbook-detail-data {
  margin: 0;
}

.comicbook-detail-description {
  max-width: 40rem;
  padding-right: 1rem;
}

.media-object {
  display: flex;
  flex-wrap: wrap;
}

.media-content {
  @media (min-width: 640px) {
    flex: 1;
  }
}

.media-image {
  max-width: 20rem;
  margin-right: 1rem;
}

.media-image img {
  display: block;
  width: 100%;
}