@import "../Shared/styles/variables.css";
.title {
  font-size: 2.4rem;
  position: relative;
  padding-left: 4rem;
}

.title:before {
  content: '';
  position: absolute;
  top: 0;
  left: -5rem;
  height: 77%;
  width: 8rem;
  margin-top: 0.3rem;
  transform: skew(-11deg, 0);
  background-color: var(--textPrimary);
}

.comicbook-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.comicbook-item {
  padding: 0 1rem;
  box-sizing: border-box;
  flex-basis: 50%;
}

.comicbook-item-title {
  font-size: 1rem;
  margin-bottom: 0;
}

.comicbook-item-data {
  margin-top: 0;
  font-size: 0.825rem;
}

.comicbook-item-description {
  font-size: 0.825rem;

  @media (min-width: 460px) {
    font-size: 1rem;
  }
}

.comicbook-list img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.comicbook-list img:hover {
  border: 5px solid var(--textPrimary);
}

.comicbook-list img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: 1rem;
  background-color: var(--textPrimary);
}

@media only screen and (min-width: 640px) {
  .comicbook-item {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width: 768px) {
  .comicbook-item {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 1440px) {
  .comicbook-item {
    flex-basis: 20%;
  }
}